--extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cu126/

fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
python-multipart==0.0.20
PyYAML==6.0.2
SQLAlchemy==2.0.41
alembic==1.15.2
PyMySQL==1.1.1
cryptography==45.0.2
celery==5.4.0
redis==5.2.1
httpx==0.28.1
PyMuPDF==1.25.1
python-docx==1.1.2
paddlepaddle-gpu==3.2.2
paddleocr==3.0.3
tiktoken==0.8.0
sympy==1.13.3
